html {
  scroll-behavior: smooth;
}

#navecolor {
  background-color: #d4d4d4;
  font-size: 30px;
}
.bodyImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  width: 1170px;
  border-radius: 3px;
  padding-top: 5px;
  border-radius: 10px;
  /* height: 1019px; */
  /* float: right; */
  /* margin: 0px 0px 15px 15px; */
}

.bodySection {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #d4d4d4;
  text-align: center;
  color: white;
}

#btn {
  margin-left: auto;
  padding-right: 40px;
  font-size: 20px;
  margin-top: 13px;
}

#headerName {
  font-size: 30px;
  margin-top: 13px;
  margin-left: 10px;
  color: #38637b;
}

.imgAbout {
  position: absolute;
  top: 65px;
  left: 140px;
  font-size: 31px;
  color: #0b3871;
  /* text-decoration-line: underline green; */
  text-decoration: underline #1a365a;
}

.aboutContent {
  position: absolute;
  top: 145px;
  left: 115px;
  font-size: 20px;
  color: #4e6f82;
  width: 37%;
}

#moreAboutBtn {
  width: 167px;
  height: 61px;
  position: absolute;
  top: 519px;
  left: 445px;
  font-size: 20px;
  /* color: #fff;
    background-color: #3c8671;
    border:20px solid #18ab29;
    border-radius: 3px;
    text-decoration: none;
    display:inline-block;
    font-family:Courier New; */
  border-radius: 28px;
  /* border: 1px solid #18ab29; */
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  padding: 16px 31px;
  text-decoration: none;
  background-color: #348386;

  /* text-shadow:0px 1px 0px #2f6627; */
}
#moreAboutBtn:hover {
  background-color: #5cbf2a;
}

/* .bodySec {
  width: 100%;
  height: 500px;
  background-color: blue;
} */

.container {
  margin-top: 100px;
}

.section-title {
  margin-bottom: 38px;
  color: #4d5786;
}

.shadow,
.subscription-wrapper {
  box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important;
}

.icon-primary {
  color: #062caf;
}

.icon-bg-circle {
  position: relative;
}

.icon-lg {
  font-size: 50px;
}

.icon-bg-circle::before {
  z-index: 1;
  position: relative;
}

.icon-bg-primary::after {
  background: #062caf !important;
}

.icon-bg-circle::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  top: -35px;
  left: 15px;
  border-radius: 50%;
  background: inherit;
  opacity: 0.1;
}

p,
.paragraph {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
}

.icon-bg-yellow::after {
  background: #f6a622 !important;
}

.icon-bg-purple::after {
  background: #7952f5;
}

.icon-yellow {
  color: #f6a622;
}

.icon-purple {
  color: #7952f5;
}

.icon-cyan {
  color: #02d0a1;
}

.icon-bg-cyan::after {
  background: #02d0a1;
}

.icon-bg-red::after {
  background: #ff4949;
}

.icon-red {
  color: #ff4949;
}

.icon-bg-green::after {
  background: #66cc33;
}

.icon-green {
  color: #66cc33;
}

.icon-bg-orange::after {
  background: #ff7c17;
}

.icon-orange {
  color: #ff7c17;
}

.icon-bg-blue::after {
  background: #3682ff;
}

.icon-blue {
  color: #3682ff;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #292d3c;
  border-radius: 5px 5px 0 0;
}

#footerLink {
  text-decoration: none;
}

.skills {
  width: 100%;
  height: 410px;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

#bodySec {
  margin-top: -65px;
}

#skillsHeading {
  text-align: center;
  margin-top: -62px;
  width: 100%;
  height: 50px;
  color: #3a568a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
  border-radius: 4px;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}

.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #4d5786;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #0f2352;
  font-weight: 600;
  color: #90a8bd;
  cursor: pointer;
  outline: none;
}

.contact-form .btnContact:hover {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

.contactForm {
  width: 100%;
  height: 350px;
  position: relative;
}

#footerLink {
  color: darkcyan;
  font-size: 30px;
  letter-spacing: 1px;
}

.instaIcon {
  color: red;
  float: left;
  margin-left: 18px;
  margin-top: -55px;
  text-decoration: none;
  font-size: 18px;
}

.faceIcon {
  color: #1451ff;
  float: left;
  margin-left: 18px;
  margin-top: -27px;
  text-decoration: none;
  font-size: 18px;
}

#insta {
  text-decoration: none;
}

#face {
  text-decoration: none;
}

.arrowIcon {
  position: absolute;
  /* margin-left: 1060px; */
  bottom: 19px;
  right: 30px;
  font-size: 35px;
  color: #273961;
  text-decoration: none;
}

#arfrow {
  text-decoration: none;
}

.footerIcons {
  margin-top: -25px;
}

#footerC {
  margin: 0;
}

@media only screen and (min-width: 314px) {
  #navecolor {
    width: 100%;
  }

  .bodySection {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #d4d4d4;
    text-align: center;
    color: white;
  }

  .bodyImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 3px;
    padding-top: 2px;
    border-radius: 10px;
  }

  .aboutContent {
    position: absolute;
    top: 210px;
    left: 15px;
    font-size: 20px;
    color: #4e6f82;
    width: 93%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  #moreAboutBtn {
    width: 167px;
    height: 61px;
    position: absolute;
    top: 428px;
    left: 26%;
    font-size: 20px;
    /* color: #fff;
      background-color: #3c8671;
      border:20px solid #18ab29;
      border-radius: 3px;
      text-decoration: none;
      display:inline-block;
      font-family:Courier New; */
    border-radius: 28px;
    /* border: 1px solid #18ab29; */
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    padding: 16px 31px;
    text-decoration: none;
    background-color: #348386;
    /* text-shadow:0px 1px 0px #2f6627; */
  }

  .section-title {
    /* margin-bottom: 215px; */
    color: #4d5786;
  }

  #fullService {
    margin-top: 310px;
  }

  .contactForm {
    width: 100%;
    height: 460px;
    position: relative;
  }
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  .bodySection {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #d4d4d4;
    text-align: center;
    color: white;
  }

  .bodyImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 470px;
    border-radius: 3px;
    padding-top: 5px;
    border-radius: 10px;
  }
} */
/* #fullBody {
    width: 200px;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 414px) {
  #footerLink {
    color: darkcyan;
    font-size: 20px;
    letter-spacing: 1px;
  }

  .faceIcon {
    color: #1451ff;
    float: left;
    margin-left: 9px;
    margin-top: -8px;
    text-decoration: none;
    font-size: 14px;
  }

  .instaIcon {
    color: red;
    float: left;
    margin-left: 9px;
    margin-top: -30px;
    text-decoration: none;
    font-size: 14px;
  }

  #footerC {
    margin: 0;
    font-size: 10px;
  }

  .footer {
    width: 100%;
    height: 85px;
    background-color: #292d3c;
    border-radius: 5px 5px 0 0;
  }
}

@media only screen and (min-width: 600px) {
  #navecolor {
    width: 100%;
  }

  .bodySection {
    position: relative;
    width: 100%;
    height: 355px;
    background-color: #d4d4d4;
    text-align: center;
    color: white;
  }

  .bodyImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 645px;
    border-radius: 3px;
    padding-top: 5px;
    border-radius: 10px;
    /* height: 1019px; */
    /* float: right; */
    /* margin: 0px 0px 15px 15px; */
  }

  .aboutContent {
    position: absolute;
    top: 370px;
    left: 15px;
    font-size: 20px;
    color: #4e6f82;
    width: 93%;
  }

  #moreAboutBtn {
    width: 167px;
    height: 61px;
    position: absolute;
    top: 540px;
    left: 37%;
    font-size: 20px;
    /* color: #fff;
      background-color: #3c8671;
      border:20px solid #18ab29;
      border-radius: 3px;
      text-decoration: none;
      display:inline-block;
      font-family:Courier New; */
    border-radius: 28px;
    /* border: 1px solid #18ab29; */
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    padding: 16px 31px;
    text-decoration: none;
    background-color: #348386;
    /* text-shadow:0px 1px 0px #2f6627; */
  }

  #fullService {
    margin-top: 370px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #navecolor {
    width: 100%;
  }

  #aboutContent {
    font-weight: 400;
    color: #8b8e93;
    font-size: 20px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .aboutContent {
    position: absolute;
    top: 460px;
    left: -3px;
    font-size: 20px;
    color: #4e6f82;
    width: 100%;
  }
  .bodySection {
    position: relative;
    width: 100%;
    height: 425px;
    background-color: #d4d4d4;
    text-align: center;
    color: white;
  }

  .bodyImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 3px;
    padding-top: 5px;
    border-radius: 10px;
    /* height: 1019px; */
    /* float: right; */
    /* margin: 0px 0px 15px 15px; */
  }

  #moreAboutBtn {
    width: 167px;
    height: 61px;
    position: absolute;
    top: 635px;
    left: 39%;
    font-size: 20px;
    /* color: #fff;
      background-color: #3c8671;
      border:20px solid #18ab29;
      border-radius: 3px;
      text-decoration: none;
      display:inline-block;
      font-family:Courier New; */
    border-radius: 28px;
    /* border: 1px solid #18ab29; */
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    padding: 16px 31px;
    text-decoration: none;
    background-color: #348386;
    /* text-shadow:0px 1px 0px #2f6627; */
  }

  #fullService {
    margin-top: 345px;
  }
  .contactForm {
    width: 100%;
    height: 323px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #navecolor {
    width: 100%;
  }

  #aboutContent {
    font-weight: 400;
    color: #8b8e93;
    font-size: 20px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .bodySection {
    position: relative;
    width: 100%;
    height: 530px;
    background-color: #d4d4d4;
    text-align: center;
    color: white;
  }

  .bodyImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    border-radius: 3px;
    padding-top: 5px;
    border-radius: 10px;
    /* height: 1019px; */
    /* float: right; */
    /* margin: 0px 0px 15px 15px; */
  }

  .aboutContent {
    position: absolute;
    top: 340px;
    left: 15px;
    font-size: 20px;
    color: #4e6f82;
    width: 93%;
  }

  .aboutContent {
    position: absolute;
    top: 145px;
    left: 115px;
    font-size: 20px;
    color: #4e6f82;
    width: 37%;
  }

  #moreAboutBtn {
    width: 167px;
    height: 61px;
    position: absolute;
    top: 519px;
    left: 445px;
    top: 465px;
    left: 29%;
    font-size: 20px;
    /* color: #fff;
      background-color: #3c8671;
      border:20px solid #18ab29;
      border-radius: 3px;
      text-decoration: none;
      display:inline-block;
      font-family:Courier New; */
    border-radius: 28px;
    /* border: 1px solid #18ab29; */
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    padding: 16px 31px;
    text-decoration: none;
    background-color: #348386;
    /* text-shadow:0px 1px 0px #2f6627; */
  }

  #fullService {
    margin-top: 110px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #navecolor {
    width: 100%;
  }

  #aboutContent {
    font-weight: 400;
    color: #8b8e93;
    font-size: 20px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .aboutContent {
    position: absolute;
    top: 210px;
    left: 115px;
    font-size: 20px;
    color: #4e6f82;
    width: 37%;
  }
  .bodyImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    width: 1290px;
    border-radius: 3px;
    padding-top: 5px;
    border-radius: 10px;
    /* height: 1019px; */
    /* float: right; */
    /* margin: 0px 0px 15px 15px; */
  }

  .bodySection {
    position: relative;
    width: 100%;
    height: 710px;
    background-color: #d4d4d4;
    text-align: center;
    color: white;
    border-radius: 0 0 5px 5px;
  }

  #moreAboutBtn {
    width: 167px;
    height: 61px;
    position: absolute;
    top: 519px;
    left: 445px;
    top: 527px;
    left: 29%;
    font-size: 20px;
    /* color: #fff;
      background-color: #3c8671;
      border:20px solid #18ab29;
      border-radius: 3px;
      text-decoration: none;
      display:inline-block;
      font-family:Courier New; */
    border-radius: 28px;
    /* border: 1px solid #18ab29; */
    background-color: #348386;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    padding: 16px 31px;
    text-decoration: none;
    /* text-shadow:0px 1px 0px #2f6627; */
  }
  #fullService {
    margin-top: 120px;
  }
}
